body {
    font: 15px/1.5 Arial, Helvetica, sans-serif;
    padding: 0;
    margin: 0 auto;
    /* background-color:#f4f4f4; */
    background-image: url('../Images/whirlpool.png');
}

.container {
    max-width: 960px;
    margin: auto;
    overflow: hidden;
}

ul {
    margin: 0;
    padding:0;
}

/* header */

header {
    background: #ffffff;
    color: #595959;
    padding-top: 30px;
    min-height: 70px;
    border-bottom: #8c8c8c 3px solid;
}

header a {
    color: #595959;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 16px;
}

header li {
    float: left;
    display: inline;
    padding: 0 10px;
}

header nav {
    float: right;
    margin: 10px 0;
}

.page-title {
    float: left;
}

.page-title h1 {
    margin:0;
    background-color: aqua;
    padding: 15px;
}

.current a {
    font-weight: bold;
    color: rgb(180, 21, 21);
}

header a:hover {
    color: #8c8c8c;
    font-weight: bold;
}


/* main */

main {
    padding:20px;
}

.column {
    float: left;
    background-color: #ffffff;
    padding: 20px;
    margin-top: 20px;
    
}

.column.main {
    width: 610px;
    margin-right: 40px;
}

.column.main img {
    float: left;
    padding-right: 20px;
}

.column.side {
    width: 230px;
}

.column.side img {
    width: 60px;
}

.column.side ul {
    min-width: 100px;
    float: left;
    margin:0;
    padding-left:15px;
}

.column.side li {
    display: inline;
    margin-right: 7px;
}

/* footer */

footer {
    padding: 20px;
    margin-top: 20px;
    color: #ffffff;
    background-color: #595959;
    text-align: center;

}

@media(max-width: 1000px) {
    header,
    .page-title,
    header nav,
    header li,
    .column,
    .column.side {
        float: none;
        text-align: center;
        margin: 20px auto;
        width: 100%;
    }
    .column.main {
        float: none;
        text-align: left;
        width: 100%;
        margin-top: 20px;
        min-height: 375px;
    }
    p {
        padding-right: 50px;
    }
}